<div class="main-navigation">
    <a href="/">Court Finder</a>
</div>

<div class="main-container">

    <div class="main-container-row-1">
    </div>

    <div class="main-container-row-2">
		<div class="signup-buttons">

			<form action="/login" method="POST">
				<input type="text" name="username" placeholder="Username">
				<input type="password" name="password" placeholder="Password">
					
				<button type="submit">Log in</button>

			</form>

		</div>

		{{#if message}}
			<div class="error-message">
				<p>{{message}}</p>
			</div>
		{{/if}}
    </div>

    <div class="main-container-row-3">
    </div>

</div>



