<div class="navigation">
    <p>Court Finder</p>
</div>

<div class="index-container">

    <div class="index-container-row-1">
    </div>

    <div class="index-container-row-2">
        <div class="index-container-buttons">
            <a class="index-signup-button" href="/">Sign Up</a>
            <a class="index-login-button" href="/">Log In</a>
        </div>
    </div>

    <div class="index-container-row-3">
    </div>

</div>