<div class="navigation">
    <a href="/">Court Finder</a>
</div>

<div class="main-container">

    <div class="main-container-row-1">
        <h1>Find a court and start your game!</h1>
    </div>

    <div class="main-container-row-2">
        <div class="index-container-buttons">
            <a class="index-signup-button" href="/signup">Sign Up</a>
            <a class="index-login-button" href="/login">Log In</a>
        </div>
            <a href="/main" class="tertiary-cta">Proceed without Login</a>
    </div>

    <div class="main-container-row-3">
    </div>

</div>
