<div class="main-navigation">
    <a href="/">Court Finder</a>
    {{{button}}}
</div>

<div class="main-container">

    <div class="main-container-row-1">
    </div>

    <div class="main-container-row-2">
    </div>

    <div class="main-container-row-3">
    </div>

</div>