

<div class="main-navigation">
    <a href="/">Court Finder</a>
    <div>{{{button}}}</div>
</div>

<div class="map-container">

    <div class="map-container-row-1">
    </div>

    <div class="map-container-row-2">
        <div id="map" class="map-container-col-1">
        
        </div>

        <div class="map-container-col-2">
            <div id="map-info">
                {{!-- Show different views here --}}
            </div>
        </div>
    </div>

        <div class="map-container-row-3">
    </div>
</div>

<script src="/js/constants.js"></script>
<script src="/js/map.js"></script>



<div class="court-details-container">
    <div class="court-details-container-row-1">
        <p style="font-family:'Pacifico'; font-size: 30px">${court.name}</p>
        <p id="create-court-close">CLOSE</p>
    </div>
    <p>Open 24/7 ✅</p>
    <p>Court type: ${court.details.surface}</p>
    <p>Number of baskets: ${court.details.numBaskets}</p>
    <p>Type of basket: ${court.details.basketType}</p>
    <p>Lighting ${court.details.lighting?'✅':'❌'}</p>
    <p>Description: ${court.description}</p>
    <img src=${court.image}>
</div>