

<div class="main-navigation">
    <a href="/">Court Finder</a>
    {{{button}}}
</div>

<div class="map-container">

    <div class="map-container-row-1">
    </div>

    <div class="map-container-row-2">
        <div id="map" class="map-container-col-1">
            <script src="/js/map.js"></script>
        </div>

        <div class="map-container-col-2">
            <div class="map-info">
                <h2>Name: Am Mauerpark</h2>
                <p>Accessibility: Behind Netto</p>
                <p>Accessible 24 hours: true</p>
                <p>Opening: 10:00</p>
                <p>Closing: 20:00</p>
                <p>Surface: concrete</p>
                <p>BasketType: rope</p>
                <p>Description: Nice court, we often hangout here at the weekend. But last week I met a nice group and we stayed the whole night...</p>

            </div>
        </div>
    </div>

        <div class="map-container-row-3">
    </div>



</div>