

<div class="main-navigation">
    <a href="/">Court Finder</a>
    <div class="profile-view">
        {{{button}}}
            <p id="profile-name">{{user.username}}</p>
        {{#if user.image}}
            <img src="{{user.image}}">
        {{/if}}
    </div>
    
</div>

<div class="map-container">

    <div class="map-container-row-1">
    </div>

    <div class="map-container-row-2">
        <div id="map" class="map-container-col-1">
        
        </div>

        <div class="map-container-col-2">
            <div id="map-info">
                {{!-- Show different views here --}}
            </div>
        </div>
    </div>

        <div class="map-container-row-3">
    </div>
</div>

<script src="/js/constants.js"></script>
<script src="/js/map.js"></script>