body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(248, 233, 226);
}

.navigation {
    position: absolute;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a {
    margin: 0 40px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: rgb(248, 233, 226);
    text-decoration: none;
}

.index-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/nick-jio-57rD2oDZquc-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

.index-container-row-1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.index-container-row-1 h1 {
    position: relative;
    top: 20px;
    color: rgb(248, 233, 226);
    font-size: 50px;
}

.index-container-row-1 p {
    font-size: 26px;
}

.index-container-row-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-container-buttons {
    display: flex;
    justify-content: center;
}

.index-container-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    margin: 0 20px;
    text-decoration: none;
    border-radius: 6px;
}

.index-signup-button {
    color: rgb(248, 233, 226);
    background-color: rgb(223, 86, 23);
}

.index-signup-button:hover {
    color: rgb(248, 233, 226);
    background-color: rgb(203, 83, 28);
}

.index-login-button {
    color: rgb(223, 86, 23);
    background-color: rgb(248, 233, 226);
}

.index-login-button:hover {
    color: rgb(223, 86, 23);
    background-color: rgb(238, 221, 215);
}

.index-container-row-3 {
    flex: 1;
}
