<div class="main-navigation">
    <a href="/">Court Finder</a>
    <div class="event-buttons">
        <form action="/event/all" method="GET"><button type="submit">Find A Game</button></form>
        <form action="/event/my-events" method="GET"><button type="submit">See my events</button></form>
        <form action="/logout" method="GET"><button type="submit">Logout</button></form>
    </div>
</div>

<div class="distance-block"></div>

<div class="events-container">
<div class="events-form">

<h1>Create Your own Event</h1>
<form class="create-court" action="/event/create" method="POST">
	<label for="name">Event Name: </label>
	<input type="text" name="name">

	<label for="description">Description: </label>
	<input type="text" name="description">

	<label for="date">Date: </label>
	<input type="datetime-local" name="date">

    <label for="court">Court: </label>
	<select name="court">
        {{#each allCourts}}
            <option value="{{this._id}}" selected>{{this.name}}</option>`
        {{/each}}
	</select>

	<div class="event-form-colum"></div>
	<label for="invited">Invite Users: </label>
	<select name="invited" multiple>
        {{#each allUsers}}
            <option value="{{this._id}}">{{this.username}}</option>`
        {{/each}}
	</select>
        
	<button type="submit">Create Event</button>
</form>

</div>
</div>